#main-title {
    font-size: 70px;
	font-family: Arial;
	text-align: center;
	color: white;
   }

#description{
	font-size: 20px;
	color: #ffb300;
}

#container {
}

#background {
	background-image: url(images/Blu-BKGD.jpg); 
}

#content {
    background: 
    color: white; 
}

body {
    background-image: url(images/Blu-BKGD.jpg); 
}

footer {
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    float: right;
}

a {
    display: block;
    width: 100px;
    color: gray;
}